<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.findservice.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.service.findservice.entity.Order">
    <constructor>
      <idArg column="order_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="client_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mandator_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="service_project" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="start_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="price" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="times" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="interval_days" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="order_comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_substitue" javaType="java.lang.Integer" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    order_id, order_time, client_id, mandator_id, service_project, start_time, end_time, 
    price, times, interval_days, order_comment, is_substitue
  </sql>

  <update id="updateFinish">
    update order_servers set is_finish = 1
    where server_id = #{server_id,jdbcType=VARCHAR} and order_id = #{order_id,jdbcType=INTEGER}
  </update>

  <delete id="deleteOrderServer">
    delete from order_servers
    where order_id = #{order_id,jdbcType=INTEGER}
  </delete>

  <select id="selectOrderBySId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where order_id in (select order_id from order_servers where server_id = #{server_id,jdbcType=VARCHAR})
  </select>

  <select id="selectWeekOrderByDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where DATEDIFF(start_time, #{date,jdbcType=DATE}) <![CDATA[<=]]> 6 and order_id in
    (select order_id from order_servers where server_id = #{server_id,jdbcType=VARCHAR})
  </select>

  <select id="selectMonOrderBySId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where DATE_FORMAT(start_time, '%Y-%m') = #{date,jdbcType=VARCHAR}
    and order_id in
    (select order_id from order_servers where server_id = #{server_id,jdbcType=VARCHAR})
  </select>


  <select id="selectOrderByDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where DATEDIFF(start_time, #{date,jdbcType=DATE}) = 0 and order_id in
    (select order_id from order_servers where server_id = #{server_id,jdbcType=VARCHAR})
  </select>

  <select id="selectOrderByCId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where client_id = #{client_id,jdbcType=INTEGER}
  </select>

  <select id="selectFin" parameterType="java.lang.Integer" resultType="int">
    select
    is_finish
    from order_servers
    where order_id = #{order_id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_detail
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.service.findservice.entity.Order">
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="orderId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_detail (order_id, order_time, client_id, 
      mandator_id, service_project, start_time, 
      end_time, price, times, 
      interval_days, order_comment, is_substitue
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{clientId,jdbcType=VARCHAR}, 
      #{mandatorId,jdbcType=VARCHAR}, #{serviceProject,jdbcType=CHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{price,jdbcType=REAL}, #{times,jdbcType=SMALLINT}, 
      #{intervalDays,jdbcType=SMALLINT}, #{orderComment,jdbcType=VARCHAR}, #{isSubstitue,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.service.findservice.entity.Order">
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="mandatorId != null">
        mandator_id,
      </if>
      <if test="serviceProject != null">
        service_project,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="intervalDays != null">
        interval_days,
      </if>
      <if test="orderComment != null">
        order_comment,
      </if>
      <if test="isSubstitue != null">
        is_substitue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="mandatorId != null">
        #{mandatorId,jdbcType=VARCHAR},
      </if>
      <if test="serviceProject != null">
        #{serviceProject,jdbcType=CHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="times != null">
        #{times,jdbcType=SMALLINT},
      </if>
      <if test="intervalDays != null">
        #{intervalDays,jdbcType=SMALLINT},
      </if>
      <if test="orderComment != null">
        #{orderComment,jdbcType=VARCHAR},
      </if>
      <if test="isSubstitue != null">
        #{isSubstitue,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.service.findservice.entity.Order">
    update order_detail
    <set>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="mandatorId != null">
        mandator_id = #{mandatorId,jdbcType=VARCHAR},
      </if>
      <if test="serviceProject != null">
        service_project = #{serviceProject,jdbcType=CHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=SMALLINT},
      </if>
      <if test="intervalDays != null">
        interval_days = #{intervalDays,jdbcType=SMALLINT},
      </if>
      <if test="orderComment != null">
        order_comment = #{orderComment,jdbcType=VARCHAR},
      </if>
      <if test="isSubstitue != null">
        is_substitue = #{isSubstitue,jdbcType=TINYINT},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.service.findservice.entity.Order">
    update order_detail
    set order_time = #{orderTime,jdbcType=TIMESTAMP},
      client_id = #{clientId,jdbcType=VARCHAR},
      mandator_id = #{mandatorId,jdbcType=VARCHAR},
      service_project = #{serviceProject,jdbcType=CHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=REAL},
      times = #{times,jdbcType=SMALLINT},
      interval_days = #{intervalDays,jdbcType=SMALLINT},
      order_comment = #{orderComment,jdbcType=VARCHAR},
      is_substitue = #{isSubstitue,jdbcType=TINYINT}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>